$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: black;
$color-transparent-white: rgba(0, 0, 0, 0.212);


$body-font: "Open Sans", sans-serif;
$header-font: "Raleway", cursive; 

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
    color: black;
}

h2 {
    color: goldenrod;
}

header {
    h2 {
    color: $color-pale;
    }
}

.site-footer {
    background-color: $color-dark;
    padding: 20px 0;
    color: white;
}

.jumbotron {
    MARGIN: 0;
    padding: 30px;
    background-color: white;
    color: white;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.navbar {
    background-color: $color-dark;
}

.carousel-caption {
    background-color: $color-transparent-white;
}

// .carousel {
//     border: solid $color-secondary;
// }

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}

.im-fluid{
    height: 100px;
    width: 100px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .carousel-item img {
    max-height: 100vh; 
    object-fit: cover;
  }
  #iconButton {
    a {
  border: none; /* Remove borders */
  color:black; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
    }
    a:hover{
        color: goldenrod;
    }
}
#thumb {
    
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 300px; /* Set a small width */

}   
#thumb:hover{
    box-shadow: 0 0 2px 1px rgba(211, 157, 10, 0.678);
}
#bodyRow{
    padding: 0%;
}
#bodyRow-height {
    height: 70px;
    text-align: center;
    padding-top: 25px;}

#bodyTitle {
    background-color: black;
    padding: 100px;
}
.card{
    height: 350px;
}
.card:hover{
    box-shadow: 0 0 2px 1px rgba(211, 157, 10, 0.678);
}